<nav id="header" class = "navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <a class= "navbar-brand" href="#">QuittingUnited</a>
	    <button type="button" class="btn btn-primary nav navbar-nav navbar-right" id="testname"></button>
    </div>
</nav>

<header>
	<div class ="container">
		<nav class="navbar navbar-default navbar-left" role="navigation">
	  		<div class="container-fluid">
		    	<ul class="nav nav-tabs navbar-left">
			      <li routerLinkActive="active"><a [routerLink]="['info']">Info</a></li>
			      <li routerLinkActive="active"><a [routerLink]="['money']">Money</a></li>
			      <li routerLinkActive="active"><a [routerLink]="['chat']">Chat</a></li>
		    	</ul>
			</div>
		</nav>	
	</div>
	
</header>
<div>
  <router-outlet></router-outlet>
</div>
