.jumbotron {
  background: #D9853B;
}
.navbar-right {
  margin-top: 1.5%;
}
/*#login div {*/
	/*width: 100%;*/
/*}*/
/*#page{*/
  /*background-blend-mode: soft-light;*/
  /*background-color: black;*/
/*}*/
/*p{*/
	/*text-align: center;*/
	/*font-size: 3em*/
/*}*/
#header1{
	background-color: #558C89;
	border-radius: 0;
	border: 0;
  margin:0;
}

mat-form-field{
  line-height: 1;
}
