<nav id="header1" class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color:white">QuittingUnited</a>
  </div>
</nav>
<div id="page">
  <div class="jumbotron col-lg-7 col-md-6 col-sm-5 col-xs-5">
    <div class="container">
      <h1 class="display-3">Quit Smoking Now!</h1>
      <p class="lead">Bet With Your Friends Who Can Last The Longest</p>
    </div>
  </div>


  <div id="login" class="col-xs-offset-1 col-md-3 col-xs-3 col-sm-3">
    <mat-form-field>
      <input matInput placeholder="User Name" [(ngModel)]="userName">
      <mat-error>This field is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" [(ngModel)]="password">
      <mat-error>This field is required</mat-error>
    </mat-form-field>
    <br>
    <button (click)="onSubmit()" mat-raised-button color="primary">Primary</button>
  </div>
</div>