#header{
	background-color: #778899;
	background-image: linear-gradient(to left, white, rgba(00,00,00,1));
	border-radius: 0;
	border: 0;
}
mat-card {
  padding-top: .2%;
  padding-bottom: .2%;
  border-color: gray;
}
