<mat-card>
  <mat-card-title>
    Create a New Group
  </mat-card-title>
  <mat-form-field>
    <input matInput [(ngModel)]='name' placeholder="Name" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input
      matInput
      type="text"
      [(ngModel)]="assesment"
      placeholder="First Assesment"
      required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input
      matInput
      type="number"
      [(ngModel)]="money"
      placeholder="Money"
      required>
  </mat-form-field>
  <br>
  <br>
  <button (click)="submit()" class="" mat-raised-button color="primary" type="submit">
    Submit
  </button>
</mat-card>

