<nav id="header" class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color:white">QuittingUnited</a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div>
          <mat-form-field>
            <div class="form-group">
              <label for="name">Name</label>
              <input
                matInput
                type="text"
                id="name"
                class="form-control"
                ngModel
                name="name"
                required>
            </div>
          </mat-form-field>
          <mat-form-field>
            <div class="form-group">
              <label for="fre">Checking Frequency</label>
              <mat-select
                id="fre"
                class="form-control"
                [ngModel]="defaultQuestion"
                name="fre">
                <mat-option value="Daily">Daily</mat-option>
                <mat-option value="Weekly">Weekly</mat-option>
              </mat-select>
            </div>
          </mat-form-field>
          <div>
            <mat-form-field>
              <div class="form-group">
                <label for="duration">Duration in Days</label>
                <input
                  matInput
                  type="number"
                  class="form-control"
                  id="duration"
                  ngModel
                  name="duration"
                  required>
              </div>
            </mat-form-field>

            <mat-form-field>
              <div class="form-group">
                <label for="money">Money in Dollars</label>
                <input
                  matInput
                  type="number"
                  class="form-control"
                  id="money"
                  ngModel
                  name="duration"
                  required>
              </div>
            </mat-form-field>
          </div>
        </div>
        <button
          mat-raised-button color="primary"
          type="submit"
        >Submit
        </button>
      </form>
    </div>
  </div>
</div>
