#header{
  background-color: #778899;
  background-image: linear-gradient(to left, white, rgba(00,00,00,1));
  border-radius: 0;
  border: 0;
  color: white;
}
#inp {
  color: black;
}

button{
	color: black;
}