<nav id="header" class = "navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <a class= "navbar-brand" href="#" style="color:white">QuittingUnited</a>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      Join Group:
      <mat-form-field>
      <input matInput placeholder="Group Name" #groupID>
      <mat-error>This field is required</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="join(groupID.value)">Join</button>
    </div>
  </div>
</div>