@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


body{
	font-family: "Roboto", sans-serif;
	/*font-size: 2em;*/
	/*color: white;*/
	/*opacity: .9;*/
	background-color: #B4DBC0;
}

#header{
	border:0;
	border-radius: 0;
}

/*#testname{*/
	/*color: white;*/
/*}*/
